DB_CONNECTION="server=localhost;port=3306;user=SEU_USUARIO;password=SUA_SENHA;database=EduqPlus"
OLLAMA_URL="http://localhost:11434"
JWT_SECRET="COLE_AQUI_UMA_CHAVE_SECRETA_COM_PELO_MENOS_32_CARACTERES"